.multi-carousel-team {
    @media screen and (min-width: $screen-md-min) {
        margin-left: -15px;
        width: calc(100% + 60px);
    }    
    .team-item {
        @media screen and (min-width: $screen-lg-min) {
            padding: 0 15px;
        }        
        .thumbnail {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 999px;
            overflow: hidden
        }
        .title {
            @include toRem(font-size, 20);
            font-weight: 500;
            color: color(neutrals, dark);
        }
        .social-networks {
            .nav-item {
                @include toRem(font-size, 24);
                .nav-link {
                    color: color(neutrals, dark);
                    &:hover {
                        color: color(primary, base);
                    }
                }
            }
        }        
    }
}