$palettes: (
    primary: (base: #FA4616, light: rgba(255,130,0,1)),
    green: (base: #49A734),
    neutrals: (base: #FFFFFF, light: #FAF4F2, medium: #E8E4E3, dark: #565F5F, darker: #2B3636, rose: #FAF4F2),
);

@function color($color,$tone){

    @if map-has-key($palettes,$color){
        $color: map-get($palettes,$color);

            @if map-has-key($color,$tone){
                $tone: map-get($color,$tone);
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;        
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
   
}
